@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100vw;
	background-image: var(--bg-primary-100);
	font-family: 'Unbounded', sans-serif;
	overflow-x: hidden;
}
:root {
	--bg-primary-50: #f5f5f6;
	--bg-primary-100: #e4e5e9;
	--bg-primary-200: #cccfd5;
	--bg-primary-300: #a9adb7;
	--bg-primary-400: #7f8491;
	--bg-primary-500: #686d7c;
	--bg-primary-600: #555865;
	--bg-primary-700: #494b55;
	--bg-primary-800: #414249;
	--bg-primary-900: #393a40;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1rem;
	padding: 1rem 2rem;
	max-width: 1440px;
	margin: 1rem auto;
	width: 100%
}
nav > ul {
	display: flex;
	list-style-type: none;
}
nav > ul > li {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.1rem;
	padding: 1.1rem 2.2rem;
	transition: 0.3s;
}
nav > 	ul > li:hover {
	background: black;
	cursor: pointer;
	color: white;
}
main {
	max-width: 1440px;
	margin: 4rem auto;
	padding: 0rem 4.2rem;
}
.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
}
.product-card {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	background-color: var(--bg-primary-400);
	border-radius: 16px;
}
.product-image > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 16px;
}
.product-info {
	margin-top: 1rem;
}
.product-info > h3 {
	font-size: 1.4rem;
	font-weight: 700;
	letter-spacing: 0.03rem;
}
.product-price {
	margin-top: 0.5rem;
}
.product-price > span {
	font-weight: 500;
	font-size: 1.2rem;
	margin-right: 0.5rem;
}
.product-price > span:last-child {
	text-decoration: line-through;
	color: var(--bg-primary-800);
	text-decoration-thickness: 3px;
	text-decoration-color: var(--bg-primary-900);
	font-style: italic; 
}
button {
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer; 
}
.add-to-cart {
	width: 100%;
	padding: 1rem 0rem;
	text-align: center;
	margin-top: 1rem;
	background-color: var(--bg-primary-900);
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.2px;
	color: var(--bg-primary-50);
	border-radius: 16px;
}
.add-to-cart:hover {
	background-color: var(--bg-primary-600);
	transition: 0.3s;
}
.items {
	text-decoration: none;
	color: black;
}
li:hover .items {
	color: white;
}
.a-buy {
	text-decoration: none;
	color: var(--bg-primary-100);
}
.sidebar {
	position: fixed;
	display: flex;
	right: 0;
	padding: 2rem;
	padding-top: 4rem;
	top: 0;
	animation: cart ease-in-out 0.4s forwards;
	bottom: 0;
	width: 400px;
	flex-direction: column;
	background-color: var(--bg-primary-100);
	border: solid black;
	border-width: 0px 0px 0px 2px;
}
@keyframes cart {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0%);
	}
}
ul > li {
	list-style-type: none;
}
.sidebar > ul {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.sidebar > ul > li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px var(--bg-primary-500);
	flex-wrap: nowrap;
}
.sidebar > ul > li > h3 {
	font-size: 1.4rem;
	font-weight: 700;
	letter-spacing: 0.03rem;
	flex-grow: 1; 
}
.sidebar > ul > li > div {
	display: flex;
	gap: 0.8rem;
	flex-wrap: nowrap;
}
.sidebar > form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 0.5rem;
}
.sidebar > form > input {
	padding: 0.5rem;
	border-radius: none;
	outline: none;
	border: solid 2px var(--bg-primary-900);
	font-size: 1.3rem;
}
#close {
	position: absolute;
	top: 8px;
	right: 2rem;
	font-size: 1.5rem;
	font-weight: 700;
	cursor: pointer;
}
.sidebar_hidden {
	display: none;
}
.cart:hover {
	cursor: pointer;
}
@media screen and (max-width: 778px) {
	nav > ul {
		flex-direction: column;
	}
	header {
		flex-direction: column;
	}
	.grid {
		grid-template-columns: repeat(1, 1fr);
	}
	main {
		padding: 0rem 1rem;
	}
}
@media screen and (max-width: 992px) {
	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (min-width: 1200px) {
	.grid {
		grid-template-columns: repeat(4, 1fr);
	}
}
.buy-a {
	text-decoration: none;
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
}
#buy {
	padding: 1rem;
	width: 100%;
	font-size: 1.2rem;
	text-transform: uppercase;
	background-color: var(--bg-primary-900);
	color: var(--bg-primary-100);
	border-radius: 8px;
	font-weight: 500;
}
